<section class="row post-holder">
  <span class="col-1 d-flex justify-content-center align-items-center">
    <span class="avatar">{{ post.author.avatar }}</span>
  </span>
  <span class="col-10">
    <div>
      <span class="fw-bold">{{ post.author.name }}</span> - <span class="text-muted">{{ timePosted$ | async }}</span>
    </div>
    <div>
      <span>{{ post.content }}</span>
    </div>
  </span>
  <div class="col-1 justify-content-end text-end" ngbDropdown #myDrop="ngbDropdown">
    <span class="hover" ngbDropdownAnchor (click)="myDrop.open()">
      <i class="fas fa-ellipsis-h"></i>
    </span>
    <div ngbDropdownMenu aria-labelledby="dropdownManual">
      <button ngbDropdownItem (click)="confirmDelete()">Remove post</button>
    </div>
  </div>
</section>
